<div class="container-fluid">
  <div class="row justify-content-start" style="padding-top:20px;">
    <div class="col-md-4 col-lg-4 mr-auto ">
      <div class="media border" style="padding:10px">
        <img style="max-height:400px; max-width:400px;" class="align-self-end mr-3" [src]="selectedProduct?.images[0].href"
          alt="Generic placeholder image">
      </div>
    </div>
    <div class="col-md-8 col-lg-8 mr-auto">
      <div>
        <h4>{{selectedProduct.name}}</h4>
      </div>
      <div>
        <h6>${{selectedProduct.salePrice}}</h6>
      </div>
      <div>
        <h4><span class="badge badge-success rounded">{{selectedProduct.customerReviewAverage}}</span>

        </h4>
        <span *ngIf="selectedProduct.customerReviewCount">{{selectedProduct.customerReviewCount}} Reviews</span>
      </div>
      <div *ngIf="selectedProduct.description else dummyDescription" >
        {{selectedProduct.description}}
      </div>
      <ng-template #dummyDescription>
          <p style="font-weight: lighter">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </ng-template>
      <div>
        <button [disabled]="selectedProduct.cartQuantity"  class="btn btn-lg btn-primary" (click)="addToCart(selectedProduct)">{{selectedProduct.cartQuantity ? 'Added to cart': 'Add to cart'}}</button>
      </div>
    </div>
  </div>
</div>