<div class="container-fluid">
  <div class="row">
    <div class="col">
      <img src="https://i5.walmartimages.com/asr/a8ccccf3-2d4c-444d-8215-451018414149_1.9b5a4a0804a91b5c30a2f42f3d55cd2a.jpeg?odnHeight=450&odnWidth=450&odnBg=ffffff">
    </div>
    <div class="col">
      <div>
        <h4>Summit Appliance 36 Bottle Single Zone Freestanding Commercial Wine Cooler</h4>

        
        <!-- <span>
          <h4>Description</h4> Features: -Automatic defrost: Reduced maintenance with auto defrost system. -Scalloped
          steel shelving: Curved shelves designed for storage of wine bottles. -Professional towel bar handle: Curved
          stainless steel handle provides for a comfortable grip. -Adjustable thermostat: Manages temperature with ease
          and accuracy. -Environmentally friendly design. -ADA compliant. Color/Finish: -Black. Cooling System:
          -Compressor. Defrost System: -Automatic/Frost Free. Interior Light: -Yes. Integrated Lock: -Yes. Temperature
          Zones: -Single zone. Door Style: -Insulated. Wine Bottle Capacity: -36. Product Size: -Compact. Number of
          Shelves: -4. Generic Specifications: -High side PSI: 285.0. -Low side PSI: 70.0. -Freon type: R134a.
          -Sanitation: ETL-S. Dimensions: Overall Height - Top to Bottom: -32.25&quot;. Overall Width - Side to Side:
          -23.63&quot;. Overall Depth - Front to Back: -24&quot;. Overall Product Weight: -100 lbs. Chiller Cooler
          Coolers Fridge Refrigerator Appliances Large Majors Re
        </span>
        <span>
          <h6>Brand</h6>
          Summit Appliance
        </span>
        <span>
          <h6>Brand</h6>
          Summit Appliance
        </span> -->
      </div>
    </div>
  </div>
</div>